Source: eventstat
Rules-Requires-Root: no
Section: admin
Priority: optional
Maintainer: Colin Ian King <colin.i.king@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper (>= 13),
               debhelper-compat (=13),
               libncurses5-dev
Homepage: https://github.com/ColinIanKing/eventstat

Package: eventstat
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: kernel event states monitoring tool
 Eventstat periodically dumps out the current kernel event state.
 It keeps track of current events and outputs the change in events
 on each output update.  The tool requires sudo to run since it
 needs to write to /proc/timer_stats to start and stop the event
 monitoring.
